<html ng-app="med_node_app">
<head>
	<title>Med Node</title>
	<script src="angular.js"></script>
	<script src="main.js"></script>
</head>
<body ng-controller="med_node_ctl">
	<h1>Med Node</h1>
	<p>Hello world from a Med Node</p>
	<div ng-hide="loggedin">
		<form>
			<table>
				<tr>
					<td><label for="loginFormUserName">User Name:</label></td>
					<td><input id="loginFormUserName" ng-model="loginFormUserName"></td>
				</tr>
				<tr>
					<td><label for="loginFormPassword">Password:</label></td>
					<td><input id="loginFormPassword" ng-model="loginFormPassword"></td>
				</tr>
			</table>
			<button ng-click="login()">Log in</button>
		</form>
	</div>
	<div ng-show="loggedin">
		User is logged in!
	</div>
</body>
</html>
